# Homework 4-  Hard coding

![alt text](img/SA_SL_KA.png "")

##### **Authors:** Daniel Jiménez & Bertrand Leclercq & Iman Sayyadzadeh
##### **Date:** 2020/12/23
##### **Subject:** Algorithmic Methods of Data Mining
##### **Data Science Master's programme**
##### **La Sapienza University of Rome**
_____

This file contains the solution to all the three Challenges (and its corresponding literals) required for the Hash and Clustering application regarding the [hast.txt](https://drive.google.com/file/d/19SD2db0dH2A0QLJOmBHnkbqOX6SbERcY/view) and [Amazon Fine Food Reviews](https://www.kaggle.com/snap/amazon-fine-food-reviews) datasets, respectively.

As like in any Analytics application case, it's relevant to keep clean and tidy the working environment. We achieve this by explaining step-by-step the process we followed to apply the hash functions, the algorithm called HyperLogLog and the K-Means Clustering methodology. 

**Notes:** 
- We worked on a PC with an SSD of 50 GB of free space and a RAM of 16 GB.

Well, first thing first, we set the libraries that we will be using to perform all hashing and clustering implementation.

In [9]:
# Import required libraries
import pandas as pd
import numpy as np

# 1. Hashing

# 2. Clustering

To solve this task, we were encouraged to implement the K-means clustering algorithm. In the next cell, you can see the implementation of the algorithm plenty commented to understand its performance.

In [13]:
from sklearn import datasets

# import some data to play with
iris = datasets.load_iris()
df1 = pd.DataFrame(iris.data[:, :3])
df1

       0    1    2
0    5.1  3.5  1.4
1    4.9  3.0  1.4
2    4.7  3.2  1.3
3    4.6  3.1  1.5
4    5.0  3.6  1.4
..   ...  ...  ...
145  6.7  3.0  5.2
146  6.3  2.5  5.0
147  6.5  3.0  5.2
148  6.2  3.4  5.4
149  5.9  3.0  5.1

[150 rows x 3 columns]

In [68]:
import matplotlib.pyplot as plt
data = np.array(df1)
import random
our_seed = 1234
random.seed(our_seed)
centroids_0 = random.sample(range(0, len(df1)), 3)
centroids_0
centroids = []
for i in centroids_0:
    centroids.append(df1.loc[i])

centroids = np.array(centroids)

def calc_distance(vect1, vect2):
    return(sum((vect1 - vect2)**2))**0.5

def assign_cluster(centroids, data):
    final_cluster = []
    for i in data:
        dist = []
        for j in centroids:
            dist.append(calc_distance(i, j))
        final_cluster.append(np.argmin(dist))
    return final_cluster

def get_centroid(clusters, data):
    final_centroids = []
    aux = pd.concat([pd.DataFrame(data), pd.DataFrame(clusters, columns=['Cluster'])], axis=1)
    for i in set(aux['Cluster']):
        cluster_0 = aux[aux['Cluster'] == i][aux.columns[:-1]]
        mean_by_cluster = cluster_0.mean(axis=0)
        final_centroids.append(mean_by_cluster)
    return final_centroids

for i in range(10):
    clusters = assign_cluster(centroids, data)
    centroids = get_centroid(clusters, data)
    #print(centroids)

In [69]:
print(clusters.count(0))
print(clusters.count(1))
print(clusters.count(2))

97
32
21

# Bonus

# 3. Algorithmic question